body {
    margin: 0px;
    /* background: radial-gradient(#ffffff 10%, #ef2d2d); */
    height: 100vh;
    background-color: #ef2d2d;
    transition: background-color 0.8s ease;
}

.namedesc {
    position: absolute;
    top: 15%;
    left: 12%;
    width: 500px;
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    margin: 0px;
    color: white;
    text-shadow: 0px 0px 8px black;
    animation: nameentry 0.8s ease 0s normal;
}

.desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 25px;
    color: white;
    text-shadow: 0px 0px 8px black;
    text-align: justify;
    animation: descentry 0.4s ease 0s normal;
}

.avatar {
    transition: all 0.4s ease;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#avatar0 {
    height: 400px;
    top: 50%;
    left: 50%;
    z-index: 3;
    filter: blur(0px);
}

#avatar1 {
    height: 350px;
    top: 45%;
    left: 70%;
    z-index: 2;
    filter: blur(2px);
}

#avatar2 {
    height: 300px;
    top: 30%;
    left: 50%;
    z-index: 1;
    filter: blur(4px);
    cursor: no-drop;
}

#avatar3 {
    height: 350px;
    top: 45%;
    left: 30%;
    z-index: 2;
    filter: blur(2px);
}

#mainavatar {
    height: 600px;
    top: 50%;
    left: 70%;
    z-index: 3;
    filter: drop-shadow(0px 0px 10px white);
}

.button-box {
    height: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    z-index: 4;
}

.btn {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    background: transparent;
    box-shadow: inset  -4px -4px 8px rgba(0, 0, 0, 0.585),inset 4px 4px 8px rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.731);
    transition: transform 0.1s ease;
    cursor: pointer;
}

.hide {
    display: none;
}

@keyframes nameentry{
    0%{
        opacity: 0.3;
        transform: translateX(100px);
    }100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes descentry{
    0%{
        opacity: 0.3;
        transform: translateY(30px);
    }100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
